bin
include
lib
pyvenv.cfg
share
.DS_Store
spotify_account_data/private
spotify_account_data/metadata
spotify_account_data/streaming/StreamingHistory*.json
spotify_account_data/streaming_extended/Streaming_History*.json
spotify_account_data/streaming_extended/ReadMeFirst_ExtendedStreamingHistory.pdf
test.ipynb
tools/__pycache__

input
logs
output
input_test
processed